@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins'
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}

#main {
    height: 100%;
    width: 100%;
    padding-top: .1px;
    padding-bottom: .1px;
    position: relative;
    scroll-behavior: smooth;
}

#nav {
    height: 11vh;
    /* background-color: aqua; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#nav h1 {
    height: 100%;
    /* background-color: red; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument extended;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 800;
    position: relative;
}

#nav h1::after {
    content: "©";
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 15%;
    right: 17%;
}

#nav h1::before {
    content: "model management";
    font-weight: 400;
    position: absolute;
    font-size: 13px;
    letter-spacing: 0.1px;
    font-family: 'poppins';
    bottom: 15%;
    right: 22%;
    color: #666;
}


#nav h2 {
    /* background-color: red; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 20px;
    font-weight: 400;
}

#nav h2:nth-last-child(1) {
    /* background-color: red; */
    width: 10%;
    font-size: 30px;
}

#nav h2:nth-last-child(2) {
    /* background-color: red; */
    width: 25%;
}

#center {
    padding: relative;
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 5vw;
}

#content {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlays {
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    height: 55%;
    width: 100%;
    padding: 3vw;
    color: white;
}

#over-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}

#over-1 h1 {
    font-family: monument extended;
    font-size: 3.5vw;
}

#over-1 h2 {
    /* background-color: blue; */
    padding: 2vw 2.2vw;
    font-size: 1vw;
    border-radius: 50%;
    border: 1px solid white;
    /* border-bottom: 5px solid white; */
}


#over-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    overflow: hidden;
}

#over-2 h4 {
    font-size: 1.3vw;
    font-weight: 400;
}

#over-2 img {
    height: 80px;
}

#scroll {
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 1px; */
}

.container {
    height: 80%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: scroll;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    height: 100%;
    border-radius: 50%;
    width: 15%;
    object-fit: cover;
    object-position: 0 7%;
    margin-right: 2vw;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 10vh;
    width: 100%;
    /* background-color: cyan; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5 {
    font-size: 1.3vw;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-right: 2.1vw;
}

#alphabet h6 {
    font-size: 1.2vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    /* background-color: blue; */
    border-radius: 50%;
    padding: 0.6vw 0.9vw;
    border: 2px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    cursor: pointer;
    border: 2px solid #000000;
}

#page-2 {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 5vw;
    gap: 1.5vw;
}

#banner {
    height: 95%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

#left {
    height: 100%;
    width: 55%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#left h2 {
    text-transform: uppercase;
    font-size: 2.5vw;
    font-family: monument extended;
    font-weight: 600;
    letter-spacing: 1px;
}

#right {
    height: 100%;
    width: 40%;
    /* background-color: greenyellow; */
}

#right img {
    height: 68%;
    width: 100%;
    object-fit: cover;
}

.right-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.right-inner h3 {
    width: 40%;
    font-size: 1.5vw;
    font-weight: 600;
}

.right-inner p {
    width: 50%;
    font-size: 1vw;
    text-align: left;
    line-height: 1.3;
    font-weight: 400;
}

#page-2 h2 {
    font-family: monument extended;
    font-size: 2.5vw;
    text-transform: uppercase;
}

#page-3 {
    height: 80%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

#page-3 .page-left {
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.page-left .circular-box {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #000;
    margin: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-box img {
    filter: brightness(1) invert(1);
}

#page-3 .page-left h3 {
    /* background-color: red; */
    font-size: 1.5vw;
    font-weight: 500;
}

#page-3 .page-right {
    width: 55%;
    height: 100%;
    /* background-color: red; */
}

#page-3 .page-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 25%;
}

#page-4 {
    position: relative;
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
}

#page-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: ; */
}

#page-4 h4 {
    position: absolute;
    right: 7%;
    top: 12%;
    font-weight: 400;
    font-size: 1.1vw;
    /* background-color: red; */
    padding: 1vw 1.6vw;
    border-radius: 50%;
    border: 2px solid black;
}


#page-5 {
    height: 100%;
    width: 100%;
    padding: 2vw 4vw;
}

#page-5>h1 {
    text-align: center;
    font-family: monument extended;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6vw;
}

#page-5 .elem {
    height: 16vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img {
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem:hover img {
    left: 20%;
    opacity: 1;
}

#page-5 .elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

#page-5 .elem h4 {
    width: 6%;
    font-weight: 400;
    font-size: 1.1vw;
}

.elem .elem-part-2 {
    width: 40%;
}

.elem-part-2 h1 {
    font-weight: 400;
    font-size: 2.7vw;
}

.elem-part-2 h5 {
    font-weight: 500;
    font-size: 0.8vw;
    text-transform: uppercase;
}

#page6 {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

.p6-left {
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
}

.p6-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 5% 30%;
}

.p6-right {
    width: 45%;
    height: 100%;
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
}

.p6-right h2 {
    font-family: monument extended;
    font-size: 2.5vw;
    margin-bottom: 1.5vw;
}

.p6-right h3 {
    width: 60%;
    font-weight: 500;
    margin-bottom: 1.5vw;
}

.p6-right p {
    line-height: 1;
    font-size: 1vw;
    margin-bottom: 1.5vw;
}

.p6-imgages {
    height: 61%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.img1 {
    width: 50%;
    object-fit: cover;
}

.img2 {
    width: 46%;
    object-fit: cover;
}

#marque {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#marque h1 {
    font-size: 3vw;
    font-weight: 900;
    font-family: monument extended;
    letter-spacing: 4px;
    text-transform: uppercase;
    /* background-color: blue; */
    display: inline-block;
    margin-right: 16px;
    -webkit-text-stroke: 1.5px black;
    color: transparent;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

#page-8 {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    display: flex;
    margin-top: 2vw;
}

.footer-part1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid black; */
}

.footer-part1 h2 {
    width: 20%;
    height: 100%;
    font-size: 3vw;
    font-family: monument extended;
    text-transform: uppercase;

}

#footer-content {
    width: 37%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}


#footer-content span {
    /* background-color: blue; */
    padding: 0.2vw 0.9vw;
    border-radius: 50%;
    /* border: 2px solid black; */
    font-weight: 400;
    margin-right: 1vw;
    font-size: 15px;
}

#footer-content h3 {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.3vw;
    height: 20%;
}

#footer-content img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

footer {
    height: 40%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* padding: 2vw 4vw; */
    align-items: center;
    margin-top: 5%;
    /* justify-content: space-between; */
}

footer .f-content {
    height: 80%;
    width: 100%;
    /* background-color: yellow; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 4vw;
}

.f-content h1 {
    /* background-color: red; */
    width: 25%;
    height: 100%;
    font-family: monument extended;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 800;
    padding: 1.5vw;
    position: relative;
}

.f-content h1::after {
    content: "©";
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 7%;
    right: 30%;
}

.f-content h1::before {
    content: "model management";
    font-weight: 400;
    position: absolute;
    font-size: 13px;
    letter-spacing: 0.1px;
    font-family: 'poppins';
    bottom: 70%;
    right: 32%;
    color: #666;
}

.f-content h2 {
    /* background-color: red; */
    width: 20%;
    height: 100%;
    padding: 1.5vw;
    border-right: 2px solid black;
    font-size: 1.3vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-right {
    display: flex;
    width: 35%;
    height: 100%;
    flex-direction: column;
}

.footer-right h2 {
    width: 100%;
    height: 40%;
    font-size: 1.3vw;
    /* background-color: blue; */
    border: none;
}

.footer-right-bottom {
    /* background-color: aqua; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    padding: 2vw;
}

.links {
    width: 60%;
    height: 20%;
    color: #666;
    font-size: 1.8vw;
    display: flex;
    justify-content: space-around;
    /* background-color: azure; */
}

.footer-right-bottom h5 {
    /* background-color: red; */
    height: 80%;
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 1.5vw;
}